.contain{
    position: relative;
    margin: 20px auto 0;
    width: 1024px;
    height: 1024px;
    background: url(../images/desktop.jpg);
}
.room-info{
    color: white;
    margin: 10px;
}
.girl{
    position: absolute;
    top: 5px;
    left: 500px;
    width: 180px;
    height: 180px;
    background: url(../images/girl3.png);
}

.seat-1{
    position: absolute;
    top:90px;
    left:280px;
}
.seat-2{
    position: absolute;
    top:200px;
    left:70px;
}
.seat-3{
    position: absolute;
    top:400px;
    left:80px;
}
.seat-4{
    position: absolute;
    top:500px;
    left:280px;
}
.seat-5{
    position: absolute;
    top:500px;
    left:550px;
}
.seat-6{
    position: absolute;
    top:500px;
    left:780px;
}
.seat{
    width: 63px;
    height: 39px;
    background: url(../images/playerItem_addGame.png);
}
.seat:hover{
    background: url(../images/playerItem_addGame2.png) -5px;
}
.card-4{
    position: absolute;
    top:440px;
    left:220px;
}
.card-5{
    position: absolute;
    top:440px;
    left:490px;
}

.card-public{
    position: absolute;
    top:220px;
    left:300px;
}
.card-turn{
    position: absolute;
    top:220px;
    left:590px;
}
.card-river{
    position: absolute;
    top:220px;
    left:710px;
}
.continue {
    position: absolute;
    top: 380px;
    left: 530px;
}