<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Join Room</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <style type="text/css">
            .con{
                margin: 50px auto 0;
                width: 400px;
                height: 500px;
            }
            .flash { margin: 1em 0; padding: 1em; background: #cae6f6; border: 1px solid #377ba8; }

        </style>
	</head>
	<body>
        <div class="con">
          {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
          {% endfor %}
            <form method="post">
              <div class="form-group">
                <label for="room-password">房间Number</label>
                <input type="text" class="form-control" name="room-password" placeholder="房间号">
              </div>
              <button type="submit" class="btn btn-default">进入</button>
            </form>
        </div>
    </body>
</html>
